body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

/* Cor do título */
.titulo {
    color: green;
    font-size: 40px;
}

/* Cor do parágrafo */
.texto {
    color: darkorange;
    font-size: 22px;
}